*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
bin
bin/*
gen
gen/*
.classpath
gradle
gradle/*
gradlew
gradlew.bat
local.properties
project.properties
.settings
.settings/*